.TodoFormEdit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 40%;
  background: #FFBE98;
  height: 50px;

}

.TodoFormEdit input {
  width: 50%;
  height: 30px;
  border: none;
  outline: none;
  background-color: #B5C0D0;
}
